geopy
folium
geopandas
matplotlib
contextily
pyproj
numpy
pandas
langchain
sqlalchemy
psycopg2-binary
tabulate
shapely
geoalchemy2
python-dotenv
langchain-openai==0.1.23
langchain-google-genai
unidecode
gradio